.header{
    background-image: linear-gradient(rgba($color-secondary,0.93),rgba($color-secondary,0.93)),url('../img/hero.jpeg');
    background-size: cover;
    background-position: center;
    padding: 8rem;
    padding-top: 4rem;
    grid-column: full-start / col-end 6;
    display: grid;
    grid-template-rows: 1fr min-content minmax(max-content,6rem) 1fr;
    grid-template-columns: minmax(min-content,max-content);
    grid-row-gap: 1.5rem;
    justify-content: center;
    @media only screen and (max-width:$bp-md){
        grid-column: 1/-1;
     }
    &__logo{
        width: 12rem;
        justify-self: center;
    }
    &__seenon-text{
        color: $color-grey-light-2;
        font-size: 1.8rem;
        text-transform: capitalize;
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        align-items: center;
        gap: 1.2rem;
        &::before,
        &::after{
            content: '';
            display:block;
            height: 1px;
            width: 100%;
            background-color: $color-grey-light-2;
        }
    }
    &__seenon-logos{
        display: grid;
        grid-template-columns: repeat(4,max-content);
        justify-content: center;
        gap: 6rem;
        img{
            max-height: 2rem;
            max-width: 100%;
            filter: brightness(70%);
        }
    }
    &__btn{
        justify-self: start;
        align-self: start;
    }
}