@import "base";
@import "typography";

@import "sidebar";
@import "header";
@import "realtors";
@import "features";
@import "story";
@import "homes";
@import "gallery";
@import "footer";

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    @media only screen and (max-width:$bp-largest){
        font-size: 50%;
    }
}
body{
    margin: 0;
    padding: 0;
    font-family: $font-primary;
}
.container{
    display: grid;
    grid-template-rows: 80vh min-content 40vw repeat(3,min-content);
    grid-template-columns:[sidebar-start]8rem [sidebar-end full-start] minmax(6rem,1fr) [center-start]repeat(8,[col-start]minmax(min-content,14rem)[col-end])[center-end] minmax(6rem,1fr)[full-end];
    @media only screen and (max-width:$bp-large){
        grid-template-rows:8rem 80vh min-content 40vw repeat(3,min-content);
    grid-template-columns: [full-start] minmax(6rem,1fr) [center-start]repeat(8,[col-start]minmax(min-content,14rem)[col-end])[center-end] minmax(6rem,1fr)[full-end];
    }
    @media only screen and (max-width:$bp-md){
        grid-template-rows: 8rem calc(100vh - 8rem);
    }
}