.footer{
    background-color: $color-grey-3;
    padding: 10rem 0;
    &__navigation{
        border-top: 2px solid $color-grey;
        display: inline-block;
    }
    &__logo-box{
        text-align: center;
        margin-bottom: 6rem;
        
    }
    &__logo-img{
        width: 15rem;
        height: auto;
    }
    &__list{
        list-style: none;
        padding-top: 2rem;
    }
    &__item{
        display: inline-block;
        &:not(:last-child){
            margin-right: 1.5rem;
        }
    }
    &__link{
        &:link,
        &:visited{
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-size: 1.5rem;
        display: inline-block;
        transition: all 0.2s;
        }
        &:hover{
            transform: rotate(5deg) scale(1.2);
            box-shadow: 0 1.2rem 2rem rgba($color-black,0.9);
            background-color: $color-grey-3;
            color: $color-primary-dark;
        }
    }
    &__copyright{
        color: $color-white;
        border-top: 2px solid $color-grey;
        &-text{
            padding-top: 2rem;
        }
    }
}